<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
    
    </style>
    <body>
        <%- include('../partials/nav');%>
        <ul>
        <% data.forEach(user => { %>
         <li><%= user.order[0].email  %></li>
         <li><%= user.order[0].DOB  %></li>
         <li><%= user.order[0].address.city   %></li>
        <% }) %>
    </ul>
    </body>
    </html>